
*{
 margin: 0;
 box-sizing: border-box;
}
.myList
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Utilise toute la hauteur de la fenêtre */
}

.main{
  display: flex;
  justify-content: space-around;
  width: 441px;
  height: 122px;
  border: 1px solid rgb(199, 193, 193);
  border-radius: 8px;
 align-items: center;
 margin-top: 1rem;

  
}
.profile_img
{
  display: flex;
}
.info_user
{
 
  margin-left: 2rem;
}
